{%extends 'base.html'%}
{%block title%}Home Page{%endblock%}
{%block content%}
<div class="d-flex flex-column align-items-center">
   <div class="d-flex justify-content-center pt-3">
      {%if item%}
      <div class="card mt-3" style="width: 18rem;">
      <div class="card-body">
         <h5 class="card-title">{{item.first_name}}</h5>
         <h6 class="card-subtitle mb-2 text-body-secondary">{{item.last_name}}</h6>
         <br>
         <p class="card-text">{{item.address}}</p>
         <p class="card-text">{{item.city}}</p>
         <p class="card-text">{{item.state}}</p>
         <p class="card-text">{{item.email}}</p>
         <p class="card-text">{{item.zipcode}}</p>
         <p class="card-text">{{item.created_at}}</p>
      </div>
      </div>
      {%endif%}
   </div>
</div>
{%endblock%}