{%extends 'base.html'%}
{%block title%}Home Page{%endblock%}
{%block content%}
<div class="d-flex flex-column align-items-center">
   <div class="d-flex justify-content-center pt-3">
      {%if item%}
      <div class="card mt-3" style="width: 18rem;">
      <div class="card-body">
         <h5 class="card-title">{{item.first_name}}</h5>
         <h6 class="card-subtitle mb-2 text-body-secondary">{{item.last_name}}</h6>
         <br>
         <p class="card-text">{{item.address}}</p>
         <p class="card-text">{{item.city}}</p>
         <p class="card-text">{{item.state}}</p>
         <p class="card-text">{{item.email}}</p>
         <p class="card-text">{{item.zipcode}}</p>
         <p class="card-text">{{item.created_at}}</p>
      </div>
      </div>
      {%endif%}
   </div>
   {%if request.user.is_superuser %}
      <div class="d-flex justify-content-center pt-3">
         <a href="{%url 'website:delete' item.id%}" class="btn btn-danger m-3">Delete</a>
         <a href="{%url 'website:edit' item.id%}" class="btn btn-primary m-3">&nbspEdit&nbsp</a>
      </div>
   {%endif%}  
   <a href="{%url 'website:home'%}" class="btn btn-secondary mt-3">Back</a>
</div>
{%endblock%}